section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 33);
    height: 20vh;
    padding: 30px;
    >img {
        width: 240px;
        height: auto;
    }
    >a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
}