// .ourMenu {
//     background-image: url('./../../../assets/img/background.jpg');
// }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >img {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 150vh;
        height: auto;
    }
    >h2 {
        padding-top: 30px;
        font-size: 40px;
        color: rgb(175, 18, 18);
    }
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        >img {
            width: 240px;
            height: auto;
        }
        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;
            >h3 {
                font-size: 30px;
            }
            >div {
                width: 80%;
                >div {
                    display: flex;
                    justify-content: space-between;
                    >span {
                        color: rgb(88, 88, 88);
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}