/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.fontRaleway{
    font-family: 'Raleway', sans-serif;
}

.fontBold{
    font-family: 'Permanent Marker', cursive;
}

.fontLucky{
    font-family: 'Luckiest Guy', cursive;
}