/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    background-color: rgba($color: #da881e81, $alpha: 1.0);
}

.fontRaleway{
    font-family: 'Raleway', sans-serif;
}

.fontBold{
    font-family: 'Permanent Marker', cursive;
}

.fontLucky{
    font-family: 'Luckiest Guy', cursive;
}